<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>


<style>
  .layout{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .layout table{
    margin-top: 20px;
    margin-bottom: 20px;
  }

</style>


<body>
  <div class="layout">

    <form th:action="@{/board/write}" method="get">
      <button type="submit">새로운 글 작성</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
        </tr>
      </thead>
      <tbody>
        <!--서버로부터 list란 이름을 게시글 전체의 리스트가 넘어왔고 그걸 each를 통해 for문처럼 각각 출력-->
        <tr th:each="board : ${list}">
          <td th:text="${board.id}">1</td>
          <td><a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a></td>
        </tr>
      </tbody>
    </table>


    <!--페이지 번호 보이는 부분-->
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
    </th:block>
    <!--param: 쿼리 스트링에서 해당 이름을 가진 정보를 넘겨줌 -->

    <form th:action="@{/board/list}" method="get">
      <input type="text" name="searchKeyword">
      <button type="submit">검색</button>
    </form>
  </div>

</body>
</html>